<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
  <head>
    <title>Movies dictonnary</title>
    <script src="angular.js"></script>
  	<script src="ui-bootstrap-tpls-0.11.0.js"></script>
    <script  src="controller.js"></script>
  	<link rel="stylesheet" text="css" href="movie.css">
  </head>
  <body  ng-app="movie" ng-controller="searchCtrl">
        

    <!-- div favoris -->
    <div id="favoris"  >
  	  vos films favoris :<br>
	    <div ng-repeat="film in listFavoris track by film.title"> 
	      {{film.title}}- <span alt="supprimmer" ng-click="supprFavoris(film)">[X]</span>
      </div>
    </div>
    <!-- end div favoris--> 

     <!-- center  -->
    <div class="centrer">
      <h3>Search  :</h3>
  	    movie: <input class="select" ng-click="initMoviesList()" type="text"  data-ng-model="currMovies" data-typeahead="filmographie in moviesList" />
        
      <!-- search div-->
      <div class=" select">
        director:
        <select ng-model="currDirector" ng-options="director.name  for director in listDirectors">
          <option value=""> 
            >-- choose director --< 
	        </option>
        </select>
      </div>
	    <!-- end search div -->

      <!-- div filmographie-->
  	  <div class="resultats">
        you have choose :
        <span ng-if="currDirector"><a ng-click="displayDirector = true;">{{currDirector.name}}</a>&nbsp({{currDirector.moviesList.length}} movies)</span>
  	    <div class="listMoviesResult" ng-repeat="film in currDirector.moviesList">
          <span ng-bind="film.title"></span>
          <br>
  	      <button ng-click="addFilmToFavoris(film)"  class="favorisBt">
  	        <3
          </button>
  	    </div>
      </div>
  	  <!-- end div filmographie -->
    
      <!--<div ng-if="displayDirector" ng-include="realisateur.html"> </div>-->
    </div>
    <!-- end center div-->

  </body>
</html>
