/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26 juil. 2014, 19:56:59
    Author     : tonton_ascii
*/

.centrer{
    margin-left : 430px;
    margin-top: 11px;
}

.favorisBt{
    height: 20px;
    width: 20px;
}

.select{

margin-bottom : 5px;
}

.resultats{
    margin-top :20px;
}

.infoUser{
    float: right;
}

.listMoviesResult{
    padding-top: 10px;
}

#favoris{
    float : left;
    width : 200px;
}